:root {
  --color-primary: #ba992e;
  --color-headings: #ba992e;
  --color-body: #918ca4;
  --body-font-size: 2rem;
  /* anthor colors we can ues */
  /* #006368 primary color */
  /* #a17900 secondary color */
}

html {
  /* 1rem = 10px */
  font-size: 62.5%;
  scroll-behavior: smooth;
  /* height: 1000rem; */
}

*,
::after,
::before {
  box-sizing: border-box;
}

/* Typography */

body {
  color: var(--color-body);
  /* font-family: "Almarai", sans-serif; */
  /* font-family: "Cairo", sans-serif; */
  font-family: "Tajawal", sans-serif;
  font-size: var(--body-font-size);
}

h1,
h2,
h3,
h4 {
  color: var(--color-headings);
  margin-bottom: 1rem;
  font-family: "Almarai", sans-serif;
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 5rem;
}

h3 {
  font-size: 4rem;
}

h4 {
  font-size: 3rem;
}

p {
  margin-top: 1rem;
  font-weight: bold;
}

@media (min-width: 1024px) {
  body {
    font-size: 2.4rem;
  }

  h1 {
    font-size: 7.5rem;
  }

  h2 {
    font-size: 6rem;
  }

  h3 {
    font-size: 5rem;
  }
  p {
    font-size: 2.4rem;
  }
}

/* Nav */

.navbar-collapse {
  justify-content: end;
}

.navbar-toggler {
  font-size: 2.5rem;
  border: 0;
}

.navbar-brand {
  font-size: 2rem;
  font-weight: bold;
}

.nav-link,
.navbar-brand {
  color: var(--color-body);
  position: relative;
  transition: color 0.3s;
}

.nav-link::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: var(--color-primary);
  bottom: 0;
  right: 0;
  border-radius: 1rem;
  transform: scaleX(0);
  transition: 0.3s;
}

.nav-link:hover,
.navbar-brand:hover {
  color: var(--color-primary);
}

.nav-link:hover::after {
  transform: scaleX(1);
}

@media (min-width: 992px) {
  .nav-link {
    font-size: 2rem;
    margin-left: 2rem;
  }
}

/* Hero */

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../img/people-reading-holy-quran.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero h1,
.hero p {
  color: white;
}

.hero h1 {
  font-weight: bold;
}

.hero p {
  margin: 2rem 0;
}

/* btn */
.btn {
  background: white;
  border: 0;
  color: var(--color-body);
  font-size: 2rem;
  font-size: var(--body-font-size);
  margin: 1rem 0;
  padding: 1rem 6rem;
  transition: transform 0.3s;
}

.btn:hover,
.btn:active {
  background-color: var(--color-primary);
  color: white;
  transform: scale(1.05);
}

/* block */
.block {
  margin-bottom: 6rem;
}

/* Contact */

.contact .form-control {
  font-size: var(--body-font-size);
  color: var(--color-body);
}

.no-outline:focus {
  outline: none;
}

#textarea {
  max-height: 12rem;
}

.contact .btn {
  background-color: var(--color-primary);
  color: white;
}

.contact__content {
  display: flex;
  justify-content: center;
}
.contact__content img {
  width: 70%;
  height: auto;
}

.contact .contact__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact .input-group-lg {
  margin-bottom: 4rem !important;
}

.contact .form-label {
  margin-bottom: 1rem;
}

/* section */

section .section-heading {
  padding-bottom: 1rem;
  border-bottom: 3px solid var(--color-primary);
  margin-bottom: 7rem;
}

/* Numbers */
.circle {
  width: 15rem;
  height: 15rem;
  background-color: white;
  border-radius: 50%;
  border: 3px var(--color-body) solid;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 6rem;
  /* color: white; */
}

.circles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.circles::after {
  content: "";
  width: 3px;
  height: 100%;
  background-color: var(--color-primary);
  display: flex;
  position: absolute;
  top: -3rem;
  border-radius: 1rem;
  z-index: -1;
  opacity: 30%;
}

.numbers .col1 img {
  max-width: 100%;
  clip-path: circle();
  margin-bottom: 1rem;
}

.numbers .col1 p {
  margin-bottom: 3rem;
}

/* Goals */
.our-goals {
  padding: 12rem 0;
  /* background-image: url(/img/quran.jpg); */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../img/masjid-maba.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.goal {
  background-color: white;
  padding: 1rem;
  border-radius: 4rem;
}

.goal header {
  text-align: center;
}

.goal img {
  max-width: 5rem;
  margin: 1rem 0;
  color: var(--color-primary);
}

.goal__content {
  padding: 2rem;
  text-align: center;
}

/* footer */
.footer {
  background-color: var(--color-body);
  color: white;
  padding: 2rem;
}

.copy-right {
  font-size: 2rem;
  font-weight: normal;
}

.copy-right .logo {
  font-weight: bold;
}

/* Up button */
.up {
  width: 5rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 10px;
  right: -55px;
  font-size: 5rem;
  background-color: var(--color-primary);
  color: white;
  padding: 5px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
}

.up.show {
  right: 10px;
}

@keyframes sheen {
  0% {
    transform: skewY(-45deg) translateX(0);
  }
  100% {
    transform: skewY(-45deg) translateX(12.5em);
  }
}

.button {
  text-decoration: none;
  padding: 3px;

  border-radius: 0.3em;
  transition: all 0.2s ease-in-out;

  overflow: hidden;
}
.button:before {
  content: "";
  background-color: rgba(255, 255, 255, 0.5);
  height: 100%;
  width: 3em;

  position: absolute;
  top: 0;
  left: -4.5em;
  transform: skewX(-45deg) translateX(0);
  transition: none;
}
.button:hover {
  background-color: var(--color-primary);
  color: #fff;
  border-bottom: 4px solid var(--color-primary);
}
.button:hover:before {
  transform: skewX(-45deg) translateX(13.5em);
  transition: all 0.5s ease-in-out;
}
