:root {
  --color-primary: #ba992e;
  --color-headings: #ba992e;
  --color-body: #918ca4;
  --body-font-size: 2rem;
  /* anthor colors we can ues */
  /* #006368 primary color */
  /* #a17900 secondary color */
}

html {
  /* 1rem = 10px */
  font-size: 62.5%;
  scroll-behavior: smooth;
}

*,
::after,
::before {
  box-sizing: border-box;
}

/* Typography */

body {
  color: var(--color-body);
  /* font-family: "Almarai", sans-serif; */
  font-family: "Cairo", sans-serif;
  font-size: var(--body-font-size);
}

h1,
h2,
h3,
h4 {
  color: var(--color-headings);
  margin-bottom: 1rem;
  font-family: "Almarai", sans-serif;
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 5rem;
}

h3 {
  font-size: 4rem;
}

h4 {
  font-size: 3rem;
}

p {
  margin-top: 1rem;
  font-weight: bold;
}

@media (min-width: 1024px) {
  body {
    font-size: 2.4rem;
  }

  h1 {
    font-size: 7.5rem;
  }

  h2 {
    font-size: 6rem;
  }

  h3 {
    font-size: 5rem;
  }
  p {
    font-size: 2.4rem;
  }
}
/* Nav */

.navbar-collapse {
  justify-content: end;
}

.navbar-toggler {
  font-size: 2.5rem;
  border: 0;
}

.navbar-brand {
  font-size: 2rem;
  font-weight: bold;
}

.nav-link,
.navbar-brand {
  color: var(--color-body);
  transition: color 0.3s;
}

.nav-link:hover,
.navbar-brand:hover {
  color: var(--color-primary);
}

@media (min-width: 992px) {
  .nav-link {
    font-size: 2rem;
    margin-left: 2rem;
  }
}

/* Hero */

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 90vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(/img/people-reading-holy-quran.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero h1,
p {
  color: white;
}

.hero h1 {
  font-weight: bold;
}

.hero p {
  margin: 2rem 0;
}

/* btn */
.btn {
  background: white;
  border: 0;
  color: var(--color-body);
  font-size: 2rem;
  font-size: var(--body-size);
  margin: 1rem 0;
  padding: 1rem 6rem;
  transition: transform 0.3s;
}

.btn:hover {
  background-color: var(--color-primary);
  color: white;
  transform: scale(1.05);
}
